{% extends "CampaignMaster/layout.html" %}
{% block CampaignMaster_content %}
<h2>List of current campaigns</h2>
<table class="table table-hover table-bordered" name="list_campaigns">
    <thead>
    <tr>
        <th>Campaign ID</th>
        <th>Campaign Name</th>
        <th>Creation date</th>
        <th>Voting system</th>
        <th>Formula system</th>
    </tr>
    </thead>
    <tbody>
    {% for campaign in campaigns %}
        <tr>
            <td>{{campaign.id}}</td>
            <td>{{campaign.name}}</td>
            <td>{{campaign.create_date}}</td>
            <td>{{campaign.voting_system}}</td>
            <td>{{campaign.formula.id}} - {{campaign.formula.name}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}