{% extends "CampaignMaster/layout.html" %}
{% block CampaignMaster_content %}
<script type="text/javascript" src="/static/js/CampaignMaster/addNewCampaign.js"></script>
<h2>Add new campaigns</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Basic information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" align="right">
                            Campaign name
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="campaign_name"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">List of candidates</div>
                <div class="panel-body">
                    <div class="row" id="list_cadidates">
                    </div>
                    <span class="btn btn-primary glyphicon-plus" id="span_add_candidate"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">The voting model</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    Voting system
                                </div>
                                <div class="col-md-9">
                                    <select name="voting_system">
                                        {% for voting_system in voting_systems %}
                                            <option value="{{voting_system}}">{{voting_system}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <br/>

                            <div class="row">
                                <div class="col-md-3" align="right">
                                    Model type (Formula selection)
                                </div>
                                <div class="col-md-9">
                                    <select name="formula">
                                        {% for formula in formulas %}
                                            <option value="{{formula.id}}">{{formula.id}} - {{formula.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" align="right">
            <input class="btn btn-primary" type="submit" value="Add campaign"/>
        </div>
        <input class="hidden" type="text" name="candidate_count" id="candidate_count"/>
    </div>
</form>

<div class="hidden" id="candidate_template">
    <div class="col-md-12" id="candiate_$index$">
        Candidate name
        <input type="text" name="candidate_name_$index$"/>
        Party
        <select name="candidate_party_$index$">
            {% for party in parties %}
                <option value="{{party.id}}">{{party.id}} - {{party.name}}</option>
            {% endfor %}
        </select>
        <span class="btn btn-primary" id="span_remove_candidate_$index$" tag="$index$" onclick="removeCandidate(this.id)">x</span>
    </div>
</div>
{% endblock %}